* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

div.container {
    width: 80%;
    height: 150px;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
}

div.container div {
    width: 48%;
    border: 3px solid black;
    border-radius: 2%;
}

.first {
    color: gray;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}


div.first .choose {
    width: 100%;
    border: none;
    border-bottom: 3px solid #000;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

div.first .input {
    width: 100%;
    flex-grow: 1;
    border: none;
}

.choose span {
    font-weight: normal;
}