* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

div.container {
    width: 60%;
    height: 100px;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
}

div.container div {
    width: 48%;
    border: 3px solid black;
    border-radius: 2%;
}

.first {
    color: gray;
    font-size: 18px;
}